.body {
        padding: 5px 5px 20px;;
        background-color: $bg-color;
        min-width: 285px;
        font-family: $font-main;

        .icon {
                color: $orange-light;
        }

        /* Classes générales */
        .link-white {
                color: $pur-white;
        }

        .link-white:hover {
                text-decoration: none;
                color: $orange-dark;
        }
        
        .link-background-orange {
                background-image: $gradient-sun;
        }

        .link-background-orange:hover {
                background-image: none;
        }

        .underline-orange {
                text-decoration: underline $orange-light;
        }
        
}