.body {
        padding: 5px;
        background-color: $bg-color;

        h1, h2, h3, a {
                font-family: $font-titles;
        }

        .icon {
                color: $orange-light;
        }
}