@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@keyframes parapenteSmall {
  0% {
    height: 40px;
    width: 40px;
    top: 50px;
    left: 85px;
  }
  100% {
    top: 45px;
    left: 140px;
    height: 70px;
    width: 70px;
  }
}
@keyframes parapenteTablet {
  0% {
    height: 60px;
    width: 60px;
    top: 45px;
    left: 80px;
  }
  100% {
    top: 50px;
    left: 140px;
    height: 90px;
    width: 90px;
  }
}
@keyframes parapenteDesktop {
  0% {
    height: 70px;
    width: 70px;
    top: 40px;
    left: 50px;
  }
  100% {
    height: 120px;
    width: 120px;
    top: 55px;
    left: 155px;
  }
}
@keyframes separatorHorizontal {
  from {
    opacity: 0;
    width: 1%;
  }
  to {
    opacity: 1;
    width: 70%;
  }
}
.body {
  padding: 5px;
  background-color: #efefef;
  min-width: 285px;
}
.body h1, .body h2, .body h3, .body a {
  font-family: "Tsukimi Rounded", sans-serif;
}
.body .icon {
  color: #E47A18;
}

.body .general-header__highline {
  margin: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .general-header__highline__id {
  font-size: 1.25rem;
  margin: 0.75rem 0;
  text-transform: uppercase;
}
.body .general-header__highline__nav {
  width: 100%;
}
.body .general-header__highline__nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .general-header__highline__nav__links__link {
  color: #E47A18;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.25rem 0;
}
.body .general-header__highline__nav__links__link:hover {
  color: #DAA552;
}
.body .general-header__logo { /* Le parapente vole 5secondes dès le chargement de la page */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.body .general-header__logo__big-circle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: transparent;
}
.body .general-header__logo__sun-moon {
  height: 180px;
  width: 180px;
  background-image: linear-gradient(to right, #d2420f, #d64e0f, #d9590f, #dd6311, #e06d13, #e07619, #e17e1f, #e18626, #df8e31, #dd963c, #db9e47, #daa552);
  border-radius: 180px;
  position: absolute;
  top: 30px;
  left: 20%;
}
.body .general-header__logo__parapente {
  height: 40px;
  width: 40px;
  border-radius: 180px;
  position: absolute;
  top: 50px;
  left: 85px;
  animation: parapenteSmall 5s linear forwards;
}
.body .general-header__logo__mountain {
  height: 270px;
  width: 270px;
  border-radius: 180px;
  position: absolute;
  top: 45px;
  left: 20px;
}
.body .general-header__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}
.body .general-header__subtitle h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.body .general-header__subtitle .separator-horizontal { /* Le séparateur apparaît en 1 seconde, 0.5 secondes la fin du vol en parapente à T+5secondes */
  height: 2px;
  background-image: linear-gradient(to right, #d2420f, #d64e0f, #d9590f, #dd6311, #e06d13, #e07619, #e17e1f, #e18626, #df8e31, #dd963c, #db9e47, #daa552);
  border-radius: 5px;
  margin: 1rem 0;
  opacity: 0; /* opacity finale fournie par l'animation */
  width: 1%; /* width finale fournie par l'animation */
  animation: separatorHorizontal 1s 4.5s ease-in-out forwards; /* Fowards = empêche de retourner à l'état initial */
}

@media all and (min-width: 420px) {
  .body .general-header__highline__id {
    font-size: 2rem;
  }
  .body .general-header__highline__nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .body .general-header__highline__nav__links__link {
    font-size: 1.25rem;
  }
  .body .general-header__subtitle h2 {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
@media all and (min-width: 600px) {
  .body .general-header__highline__id {
    font-size: 2.5rem;
  }
  .body .general-header__highline__nav__links__link {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) {
  .body .general-header__highline__id {
    font-size: 3rem;
  }
  .body .general-header__highline__nav__links__link {
    font-size: 2rem;
  }
  .body .general-header__logo {
    margin-bottom: 2.5rem;
  }
  .body .general-header__logo__big-circle {
    width: 300px;
    height: 300px;
  }
  .body .general-header__logo__sun-moon {
    height: 220px;
    width: 220px;
    border-radius: 180px;
    position: absolute;
    top: 30px;
    left: 13%;
  }
  .body .general-header__logo__parapente {
    height: 60px;
    width: 60px;
    border-radius: 180px;
    position: absolute;
    top: 45px;
    left: 80px;
    animation: parapenteTablet 5s linear forwards;
  }
  .body .general-header__logo__mountain {
    height: 310px;
    width: 310px;
    border-radius: 180px;
    position: absolute;
    top: 75px;
    left: -5px;
  }
  .body .general-header__subtitle h2 {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) {
  .body .general-header__highline {
    margin-bottom: 2.5rem;
  }
  .body .general-header__highline__id {
    font-size: 3rem;
  }
  .body .general-header__highline__nav__links__link {
    font-size: 2rem;
  }
  .body .general-header__logo {
    margin-bottom: 2.5rem;
  }
  .body .general-header__logo__big-circle {
    width: 300px;
    height: 300px;
  }
  .body .general-header__logo__sun-moon {
    height: 260px;
    width: 260px;
    border-radius: 180px;
    position: absolute;
    top: 10px;
    left: 7%;
  }
  .body .general-header__logo__parapente {
    height: 70px;
    width: 70px;
    border-radius: 180px;
    position: absolute;
    top: 40px;
    left: 50px;
    animation: parapenteDesktop 5s linear forwards;
  }
  .body .general-header__logo__mountain {
    height: 350px;
    width: 350px;
    border-radius: 180px;
    position: absolute;
    top: 80px;
    left: -30px;
  }
  .body .general-header__subtitle h2 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
