//^ ANIMATIONS DU PARAPENTE
@keyframes parapenteSmall {
        0% {
                height: 40px;
                width: 40px;
                top: 50px;
                left: 85px;
        }

        100% {
                top: 45px;
                left: 140px;
                height: 70px;
                width: 70px;
        }
}

@keyframes parapenteTablet {
        0% {
                height: 60px;
                width: 60px;
                top: 45px;
                left: 80px;
        }

        100% {
                top: 50px;
                left: 140px;
                height: 90px;
                width: 90px;
        }
}

@keyframes parapenteDesktop {
        0% {
                height: 70px;
                width: 70px;
                top: 40px;
                left: 50px;
        }

        100% {
                height: 120px;
                width: 120px;
                top: 55px;
                left: 155px;
        }
}

@keyframes fallingParapentistSmall {
        100% {
                top: 315px;
        }
}

@keyframes fallingParapentistTablet {
        100% {
                top: 355px;
        }
}

@keyframes fallingParapentistDesktop {
        100% {
                top: 355px;
        }
}

//^ ANIMATIONS DES SÉPARATEURS
@keyframes separatorHorizontal {
        from {
                opacity: 0;
                width: 1%;
        }

        to {
                opacity: 1;
                width: 70%;
        }
}

//^ ANIMATIONS DE BOUTONS
@keyframes jumpTheUpChevron {
        from {
                margin-top: 10px;
                font-size: $font-size-regular;
        }
        
        to {
                margin-bottom: 15px;
                font-size: $font-size-medium; 
        }
}