//^ FONT FAMILY
$font-titles: 'Castoro', serif;

//^ FONT SIZES
$font-size-small: 0.5em;
$font-size-regular: 1em;
$font-size-large: 1.5em;
$font-size-very-large: 2em;
$font-size-extra-large: 2.5em;
$font-size-ultra-large: 3em;

//^ COLORS
$bg-color: #efefef;

//^ GUTTER-SIZES
$gutter-small: 0.5em;
$gutter-medium: 0.75em;
$gutter-regular: 1em;
$gutter-large: 1.5em;
$gutter-very-large: 2em;
$gutter-extra-large: 2.5em;
$guttter-ultra-large: 3em;
