//^ MEDIA QUERIES VARIABLES
$mobile-max: 767px;
$tablet-max: 1023px;

//^ FONT FAMILY
$font-main: 'Quicksand', sans-serif;
$font-secondary: 'Tsukimi Rounded', sans-serif;

//^ FONT SIZES
$font-size-small: 0.5rem;
$font-size-regular: 1rem;
$font-size-large: 1.25rem;
$font-size-very-large: 1.5rem;
$font-size-extra-large: 2rem;
$font-size-ultra-large: 2.5rem;

//^ COLORS
$pur-white: #ffffff;
$bg-color: #efefef;
$orange-light: #E47A18;
$orange-dark: #D2420F;
$gold: #DAA552;

$gradient-sunshine: linear-gradient(to right, #d2420f, #d64e0f, #d9590f, #dd6311, #e06d13, #e07619, #e17e1f, #e18626, #df8e31, #dd963c, #db9e47, #daa552);

//^ GUTTER-SIZES
$gutter-very-small: 0.25rem;
$gutter-small: 0.5rem;
$gutter-medium: 0.75rem;
$gutter-regular: 1rem;
$gutter-large: 1.5rem;
$gutter-very-large: 2rem;
$gutter-extra-large: 2.5rem;
$guttter-ultra-large: 3rem;
