.body {

        .general-header {

                &__highline {
                        margin: $gutter-medium $gutter-small;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &__id {
                                font-size: $font-size-large;
                                margin: $gutter-medium 0;
                                text-transform: uppercase;
                        }

                        &__nav {
                                width: 100%;

                                &__links {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        
                                        &__link {
                                                color: $orange-light;
                                                font-size: $font-size-regular;
                                                text-decoration: underline;
                                                cursor: pointer;
                                                margin: $gutter-very-small 0;
                                        }

                                        &__link:hover {
                                                color: $gold;
                                        }
                                }    
                        }
                }

                &__logo { /* Le parapente vole 5secondes dès le chargement de la page */
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        &__big-circle {
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                width: 300px;
                                height: 300px;
                                background-color: transparent;
                        }

                        &__sun-moon {
                                height: 180px;
                                width: 180px;
                                background-image: $gradient-sunshine;
                                border-radius: 180px;
                                position: absolute;
                                top: 30px;
                                left: 20%;
                        }

                        &__parapente {
                                height: 40px;
                                width: 40px;
                                border-radius: 180px;
                                position: absolute;
                                top: 50px;
                                left: 85px;

                                animation: parapenteSmall 5s linear forwards;
                        }

                        &__mountain {
                                height: 270px;
                                width: 270px;
                                border-radius: 180px;
                                position: absolute;
                                top: 45px;
                                left: 20px;
                        }
                }

                &__subtitle {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        line-height: $gutter-very-large;

                        h2 {
                                text-align: center;
                                font-family: $font-main;
                        }

                        .separator-horizontal { /* Le séparateur apparaît en 1 seconde, 0.5 secondes la fin du vol en parapente à T+5secondes */
                                height: 2px;
                                background-image: $gradient-sunshine;
                                border-radius: 5px;
                                margin: $gutter-regular 0;
                                opacity: 0; /* opacity finale fournie par l'animation */
                                width: 1%; /* width finale fournie par l'animation */

                                animation: separatorHorizontal 1s 4.5s ease-in-out forwards; /* Fowards = empêche de retourner à l'état initial */
                        }
                }
        }
}

//= LARGEUR MINIMUM 420 px
@media all and (min-width: 420px) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-extra-large;
                                }
        
                                &__nav {
                                                
                                        &__links {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-around;

                                                &__link {
                                                        font-size: $font-size-large;
                                                }
                                        }
                                }
                        }

                        &__subtitle {

                                h2 {
                                        font-size: $font-size-large;
                                        line-height: $gutter-extra-large;
                                }
                        }
                }
        }
}

//= LARGEUR MINIMUM 600 px
@media all and (min-width: 600px) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-ultra-large;
                                }
        
                                &__nav {
                                                
                                        &__links {

                                                &__link {
                                                        font-size: $font-size-very-large;
                                                }
                                        }
                                }
                        }

                        &__subtitle {

                                .separator-horizontal {
                                        margin: $gutter-large 0;
                                }
                        }
                }
        }
}

//= LARGEUR MINIMUM TABLET
@media all and (min-width: ($mobile-max + 1)) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-ultra-large * 1.2;
                                }
        
                                &__nav {
                                                
                                        &__links {

                                                &__link {
                                                        font-size: $font-size-extra-large;
                                                }
                                        }
                                }
                        }

                        &__logo {
                                margin-bottom: $gutter-extra-large;
        
                                &__big-circle {

                                        width: 300px;
                                        height: 300px;
                                }
        
                                &__sun-moon {
                                        height: 220px;
                                        width: 220px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 30px;
                                        left: 13%;
                                }
        
                                &__parapente {
                                        height: 60px;
                                        width: 60px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 45px;
                                        left: 80px;
        
                                        animation: parapenteTablet 5s linear forwards;
                                }
        
                                &__mountain {
                                        height: 310px;
                                        width: 310px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 75px;
                                        left: -5px;
                                }
                        }

                        &__subtitle {

                                h2 {
                                        font-size: $font-size-very-large 0;
                                }

                                .separator-horizontal {
                                        margin: $gutter-very-large;
                                }
                        }
                }
        }
}

//= LARGEUR MINIMUM DESKTOP
@media all and (min-width: ($tablet-max + 1)) {
        .body {
                
                .general-header {
        
                        &__highline {
                                margin-bottom: $gutter-extra-large;

                                &__id {
                                        font-size: $font-size-ultra-large * 1.2;
                                }
        
                                &__nav {
                                                
                                        &__links {
                                                &__link {
                                                        font-size: $font-size-extra-large;
                                                }
                                        }
                                }
                        }

                        &__logo {
                                margin-bottom: $gutter-extra-large;
        
                                &__big-circle {

                                        width: 300px;
                                        height: 300px;
                                }
        
                                &__sun-moon {
                                        height: 260px;
                                        width: 260px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 10px;
                                        left: 7%;
                                }
        
                                &__parapente {
                                        height: 70px;
                                        width: 70px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 40px;
                                        left: 50px;
        
                                        animation: parapenteDesktop 5s linear forwards;
                                }
        
                                &__mountain {
                                        height: 350px;
                                        width: 350px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 80px;
                                        left: -30px;
                                }
                        }

                        &__subtitle {
                                margin: $gutter-extra-large*3 0;

                                h2 {
                                        font-size: $font-size-extra-large;
                                }

                                .separator-horizontal {
                                        margin: $gutter-extra-large*2 0;
                                }
                        }
                }
        }
}