.body {

        .general-header {

                &__logo {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        &__big-circle {
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                width: 300px;
                                height: 300px;
                                background-color: transparent;
                                border: solid 1px red;
                                border-radius: 180px;
                        }

                        &__sun-moon {
                                height: 180px;
                                width: 180px;
                                // background-color: orange;
                                background-image: linear-gradient(to right, #d2420f, #d64e0f, #d9590f, #dd6311, #e06d13, #e07619, #e17e1f, #e18626, #df8e31, #dd963c, #db9e47, #daa552);
                                border-radius: 180px;
                                position: absolute;
                                top: 30px;
                                left: 20%;
                        }

                        &__parapente {
                                height: 60px;
                                width: 60px;
                                border-radius: 180px;
                                position: absolute;
                                top: 45px;
                                left: 100px;
                        }

                        &__mountain {
                                height: 270px;
                                width: 270px;
                                border-radius: 180px;
                                position: absolute;
                                top: 45px;
                                left: 20px;
                        }
                        
                        &__img {
                                width: 40%;
                        }

                        &__title {
                                text-align: center;

                                /*
                                        voir _body.scss
                                */
                        }
                }

                &__nav {
                        margin-top: $gutter-large;
                        text-align:center;
                }
        }
}