.body {

        .general-header {

                &__highline {
                        margin: $gutter-medium $gutter-small;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &__id {
                                font-size: $font-size-large;
                                margin: $gutter-medium 0;
                                text-transform: uppercase;
                        }

                        &__nav {
                                width: 100%;

                                &__links {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        
                                        &__link {
                                                color: $orange-light;
                                                font-size: $font-size-regular;
                                                text-decoration: underline;
                                                cursor: pointer;
                                                margin: $gutter-very-small 0;
                                        }

                                        &__link:hover {
                                                color: $gold;
                                        }
                                }    
                        }
                }

                &__logo {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        &__big-circle {
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                width: 300px;
                                height: 300px;
                                background-color: transparent;
                        }

                        &__sun-moon {
                                height: 180px;
                                width: 180px;
                                background-image: linear-gradient(to right, #d2420f, #d64e0f, #d9590f, #dd6311, #e06d13, #e07619, #e17e1f, #e18626, #df8e31, #dd963c, #db9e47, #daa552);
                                border-radius: 180px;
                                position: absolute;
                                top: 30px;
                                left: 20%;
                        }

                        &__parapente {
                                height: 40px;
                                width: 40px;
                                border-radius: 180px;
                                position: absolute;
                                top: 50px;
                                left: 85px;

                                animation: parapenteSmall 5s linear forwards;
                        }

                        &__mountain {
                                height: 270px;
                                width: 270px;
                                border-radius: 180px;
                                position: absolute;
                                top: 45px;
                                left: 20px;
                        }
                }
        }
}

//= LARGEUR MINIMUM 420 px
@media all and (min-width: 420px) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-extra-large;
                                }
        
                                &__nav {
                                                
                                        &__links {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-around;

                                                &__link {
                                                        font-size: $font-size-large;
                                                }
                                        }
                                }
                        }
                }
        }
}

//= LARGEUR MINIMUM 600 px
@media all and (min-width: 600px) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-ultra-large;
                                }
        
                                &__nav {
                                                
                                        &__links {

                                                &__link {
                                                        font-size: $font-size-very-large;
                                                }
                                        }
                                }
                        }
                }
        }
}

//= LARGEUR MINIMUM TABLET
@media all and (min-width: ($mobile-max + 1)) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-ultra-large * 1.2;
                                }
        
                                &__nav {
                                                
                                        &__links {

                                                &__link {
                                                        font-size: $font-size-extra-large;
                                                }
                                        }
                                }
                        }

                        &__logo {
        
                                &__big-circle {

                                        width: 300px;
                                        height: 300px;
                                }
        
                                &__sun-moon {
                                        height: 220px;
                                        width: 220px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 30px;
                                        left: 13%;
                                }
        
                                &__parapente {
                                        height: 60px;
                                        width: 60px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 45px;
                                        left: 80px;
        
                                        animation: parapenteTablet 5s linear forwards;
                                }
        
                                &__mountain {
                                        height: 310px;
                                        width: 310px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 75px;
                                        left: -5px;
                                }
                        }
                }
        }
}

//= LARGEUR MINIMUM DESKTOP
@media all and (min-width: ($tablet-max + 1)) {
        .body {
                
                .general-header {
        
                        &__highline {

                                &__id {
                                        font-size: $font-size-ultra-large * 1.2;
                                }
        
                                &__nav {
                                                
                                        &__links {

                                                &__link {
                                                        font-size: $font-size-extra-large;
                                                }
                                        }
                                }
                        }

                        &__logo {
        
                                &__big-circle {

                                        width: 300px;
                                        height: 300px;
                                        border: solid 1px red;
                                }
        
                                &__sun-moon {
                                        height: 260px;
                                        width: 260px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 10px;
                                        left: 7%;
                                }
        
                                &__parapente {
                                        height: 70px;
                                        width: 70px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 40px;
                                        left: 50px;
        
                                        animation: parapenteDesktop 5s linear forwards;
                                }
        
                                &__mountain {
                                        height: 350px;
                                        width: 350px;
                                        border-radius: 180px;
                                        position: absolute;
                                        top: 80px;
                                        left: -30px;
                                }
                        }
                }
        }
}